<section class="form-section ">
    <div class="text">
        <h3>Fique por dentro de tendências</h3>
        <p>A tecnologia está sempre evoluindo, e com ela, as melhores práticas de desenvolvimento de software. Hoje, a agilidade é a palavra-chave. As metodologias ágeis, como Scrum e Kanban, estão em alta, permitindo que as equipes de desenvolvimento se adaptem rapidamente às mudanças e entreguem produtos de alta qualidade de forma eficiente. Além disso, a integração contínua e a entrega contínua (CI/CD) estão se tornando padrão na indústria, permitindo um fluxo constante de melhorias e atualizações. A automação também é uma grande tendência, com cada vez mais processos sendo automatizados para aumentar a eficiência e reduzir o erro humano. E, claro, a segurança do software nunca foi tão importante, com empresas investindo pesadamente em práticas de codificação segura para proteger seus sistemas e dados. Fique ligado para mais atualizações sobre as últimas tendências em consultoria de software.</p>
    </div>
    <form [formGroup]="newsletterform">
        <label for="name">Name</label>
        <input id="name" formControlName="name"/>
        <label for="email">Email</label>
        <input id="email" formControlName="email"/>
        <btn-primary 
            btn-text="Se inscreva" 
            variant="secondary" 
            (submit)="onSubmit()"
            [disabled]="!newsletterform.valid"
            [loading]="loading()">
        </btn-primary>
    </form>
</section>
